# Dipendenze
/node_modules

# File di build di Next.js
/.next/

# Build di esportazione statica
/out/

# File di ambiente (contengono segreti!)
.env.local
.env.*.local

# Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*